#borderimg {
  border: 1px solid #555;
  border-radius: 150px;
  padding: 10px;
  background-image: linear-gradient(90deg, #1a0500, #ffffff, #1a0500, #ffffff);
}
.leftside {
  text-align: center;
}
.iconsize {
  font-size: 30px;
}
.link {
  color: black;
}
.contentb {
  background-color: hsl(0, 0%, 100%, 40%);
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
