.cocurricular {
  text-align: left;
}
.headingc {
  background-color: hsl(0, 0%, 100%, 40%);
  border-radius: 20px;
}
.tenurec {
  text-align: left;
}
.row1 {
  text-align: center;
}
.contentc {
  background-color: hsl(0, 0%, 100%, 40%);
  border-radius: 20px;
}
