.workexps {
  text-align: left;
}
.heading {
  background-color: hsl(0, 0%, 100%, 40%);
  border-radius: 20px;
}
.tenure {
  text-align: right;
}
.row1 {
  text-align: center;
}
.contentw {
  background-color: hsl(0, 0%, 100%, 40%);
  border-radius: 20px;
}
